*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#fff5ee;
display:flex;
justify-content:center;
padding:24px 16px 40px;
}

.container{
width:100%;
max-width:420px;
display:flex;
flex-direction:column;
align-items:center;
}

.avatar{
width:256px;
height:256px;
image-rendering:pixelated;
margin-bottom:8px;
}

.nickname{
width:350px;
max-width:92%;
height:auto;
image-rendering:pixelated;
margin-bottom:24px;
}

.links{
width:100%;
display:flex;
flex-direction:column;
align-items:center;
}

a{
display:block;
margin-bottom:12px;
}

.btn{
width:384px;
max-width:100%;
height:auto;
display:block;
image-rendering:pixelated;
}

.divider{
width:384px;
max-width:100%;
height:auto;
display:block;
margin-top:34px;
margin-bottom:30px;
image-rendering:pixelated;
}

@media (max-width:430px){

.avatar{
width:256px;
height:256px;
}

.nickname{
width:350px;
max-width:92%;
}

.btn{
width:100%;
}

.divider{
width:100%;
}

.links a:nth-child(2){
margin-bottom:0;
}
@media (min-width: 768px){

    .avatar{
        margin-bottom:20px;
    }

    .nickname{
        margin-bottom:32px;
    }

}
}
